.card-container{
  padding-top: 0.5vw;
  padding-bottom: 2vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.card{
  width: 22vw;
  min-width: 150px;
  min-height: 150px;
  height: 22vw;
  margin: 0.4vw 0;
  background-color: #f6f6f6;
  color: #242a37;
  opacity: 0.9;
  display: grid;
}
.card:hover{
  margin: 0;
  background-color: #242a37;
  filter: brightness(0.9);
  opacity: 1;
  cursor: pointer;
  width: 24vw;
  height: 24vw;
  transition: 0.5s;
  color: #f6f6f6;
}
.card-title{
  text-transform: uppercase;
  margin: auto;
  font-family: sans-serif;
  font-size: 15px;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
}

@media (max-width: 768px){
  .card-title{
    font-size: 12px;
  }
}