.rf-map,
.rf-map *{
    box-sizing: border-box;
}    
.rf-map {
    position: relative;
    max-width: 80vw;
    margin: auto;
    padding: 20px;
}
.rf-map .district b {
    position: absolute;
    z-index: 5;
    width: 18px;
    height: 18px;
    background: rgba(51, 122, 183, 0.9);
    border-radius: 50%;
    left: 6px;
    top: 18px;
    transition: all 0.3s;
}
.rf-map .district span {
    position: absolute;
    z-index: 5;
    top: 20px;
    left: 30px;
    font-size: 13px;
    font-weight: bold;
    font-family: Tahoma, sans-serif;
    line-height: 1;
    color: #242a37;
}
.rf-map .district {
    display: none;
}


.open {
    border-radius: 5px;
}
.rf-map.open .district b {
    top: 0;
    left: 0;
    border-radius: 0;
    width:100%;
    height: 100%;
}
.rf-map.open .district span {
    color: #f6f6f6;
}
.rf-map svg {
    width: 100%;
    height: 100%;
    filter: drop-shadow(0 5px 12px rgba(0, 0, 0, 0.5));    
}
.rf-map path {
    stroke: #f6f6f6;
    stroke-width: 1;
    stroke-linejoin: round; 
}
.rf-map [data-code] {
    fill: #242a37;
    transition: fill 0.2s;
}
.rf-map [data-code]:hover {
    fill: #0180ef;
}
.rf-map .district-text {
    display: none;
    position: absolute;
    z-index: 6;
    left: 0;
    top: 60px;
    width: calc(100% - 20px);
    height: calc(100% - 90px);
    padding: 0 20px;
    overflow: auto;
    color: #f6f6f6;
    font-size: 13px;
    font-family: Verdana, sans-serif;   
    
}
.rf-map .close-district {
    opacity: 0;
    z-index: 6;
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;    
    width: 40px;
    height: 40px;
    line-height: 1;
    font-size: 40px;
    color: #f6f6f6;
    cursor: pointer;
    transition: opacity 1s;
    pointer-events: none;
}
.rf-map.open .close-district {
    opacity: 1;
    pointer-events: initial;
}
.rf-map .district-links {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
}
.rf-map .district-links div {
    font-size: 13px;
    font-family: Verdana, sans-serif; 
    padding: 4px;
}
.rf-map .district-links div:after {
    content: " | ";
    color: #242a37;
}
.rf-map .district-links div:last-child:after {
    content: "";
}
.dropfill {
    fill: #242a37!important;
}
.mainfill {
    fill: #1d4567!important;
}
@media (min-width:768px){
    .rf-map .district b {
        width: 28px;
        height: 28px;    
        left: 6px;
        top: 28px;
    }
    .rf-map .district span {
        top: 30px;
        left: 46px;
        font-size: 20px;
        font-weight: normal;
    }
    .rf-map .district-text {
        left: 30px;
        top: 80px;
        width: calc(100% - 60px);
        height: calc(100% - 130px);
        font-size: 16px; 
    }
    .rf-map .close-district {  
        width: 60px;
        height: 60px;
        font-size: 60px;
    }
    .rf-map .district-links {
        display: none;
    }
}
/* Цвета регионов 
.rf-map [data-code="RU-SAR"] {
    fill: #116f21;
    cursor: pointer;
}
.rf-map [data-code="RU-SA"] {
    fill: #d17520;
    cursor: pointer;
}
.rf-map [data-code="RU-KO"] {
    fill: #901aad;
}
.rf-map [data-code="RU-SAR"]:hover {
    fill: #1bad33;
}
.rf-map [data-code="RU-SA"]:hover {
    fill: #e3954b;
}
.rf-map [data-code="RU-KO"]:hover {
    fill: #bf37e1;
*/

.rf-map [data-code="RU-ALT"],
.rf-map [data-code="RU-AMU"],
.rf-map [data-code="RU-YAR"],
.rf-map [data-code="RU-CHE"],
.rf-map [data-code="RU-ULY"],
.rf-map [data-code="RU-TYU"],
.rf-map [data-code="RU-TUL"],
.rf-map [data-code="RU-RYA"],
.rf-map [data-code="RU-ORL"],
.rf-map [data-code="RU-OMS"],
.rf-map [data-code="RU-NGR"],
.rf-map [data-code="RU-LIP"],
.rf-map [data-code="RU-KRS"],
.rf-map [data-code="RU-KGN"],
.rf-map [data-code="RU-KGD"],
.rf-map [data-code="RU-IVA"],
.rf-map [data-code="RU-BRY"],
.rf-map [data-code="RU-AST"],
.rf-map [data-code="RU-KHA"],
.rf-map [data-code="RU-UD"],
.rf-map [data-code="RU-TOM"],
.rf-map [data-code="RU-TVE"],
.rf-map [data-code="RU-TAM"],
.rf-map [data-code="RU-STA"],
.rf-map [data-code="RU-SMO"],
.rf-map [data-code="RU-SAK"],
.rf-map [data-code="RU-SAR"],
.rf-map [data-code="RU-TUL"],
.rf-map [data-code="RU-SAM"],
.rf-map [data-code="RU-ROS"],
.rf-map [data-code="RU-CU"],
.rf-map [data-code="RU-ME"],
.rf-map [data-code="RU-CR"],
.rf-map [data-code="RU-KB"],
.rf-map [data-code="RU-BA"],
.rf-map [data-code="RU-PSK"],
.rf-map [data-code="RU-PRI"],
.rf-map [data-code="RU-PNZ"],
.rf-map [data-code="RU-ORE"],
.rf-map [data-code="RU-MAG"],
.rf-map [data-code="RU-MUR"],
.rf-map [data-code="RU-KGN"],
.rf-map [data-code="RU-KYA"],
.rf-map [data-code="RU-KOS"],
.rf-map [data-code="RU-KIR"],
.rf-map [data-code="RU-KEM"],
.rf-map [data-code="RU-KLU"],
.rf-map [data-code="RU-IRK"],
.rf-map [data-code="RU-VOR"],
.rf-map [data-code="RU-VLG"],
.rf-map [data-code="RU-VGG"],
.rf-map [data-code="RU-VLA"],
.rf-map [data-code="RU-BEL"],
.rf-map [data-code="RU-ARK"]
{
    fill: #002776;
}
.rf-map [data-code="RU-MOW"],
.rf-map [data-code="RU-MOS"],
.rf-map [data-code="RU-NVS"],
.rf-map [data-code="RU-TA"],
.rf-map [data-code="RU-NIZ"],
.rf-map [data-code="RU-KDA"],
.rf-map [data-code="RU-SPE"],
.rf-map [data-code="RU-LEN"],
.rf-map [data-code="RU-SVE"]{
    fill: #D52B1E;
    cursor: pointer;
}

.district-text{
    display: inline-flex;
    justify-content: space-between;
    justify-content:left;
}
.district-text-map{
    width: 40%;
}
.district-text-box{
    margin-top: 0;
    text-align: center;
    width: 40%;
    display: block;
}

.district-text-box-title{
    text-align: center;
}
